{% extends "base.html" %}
{% block content %}
    <form class="form form-horizontal" action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <h1 class="red">Shipping Address</h1>
        {{ form }}
        <a href="{% url 'cart-index' %}" class="btn btn-primary pull-left" style="clear:both; margin: 10px 0">Back to cart</a>
        <input type="submit" value="Continue to Checkout" class="btn btn-primary float-right" style="clear:both; margin: 10px 0"/>
    </form>
    <p>Copyright © 2021 Ship O'Cereal</p>
{% endblock %}