body {
    background-color: #ffffff;
}

.cereal {
    height: 50%;
    float: left;
    width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
    box-sizing: border-box;
    border-bottom: solid 5px rgba(155, 155, 155, .5);
}

.well.cereal{
    background-image: linear-gradient(#eebb3d, #ffdd6c);
    border-color: black;
}

.well.feedback{
    background-image: linear-gradient(#eebb3d, #ffdd6c);
    border-color: black;
}

.container {
    border: 2px solid black;
    margin-left: 150px;
    width: 82%;
    margin-top: -2px;
}

.messages-alert {
    position: fixed;
    top: 75px;
    right: 300px;
    width: 50%;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .container {
        width: 67%;
    }

    .cereal {
        width: 100%;
    }
}

.cereal p {
    color: black;
}

.manufacturer {
    height: 400px;
    float: left;
    width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px; /* if you want space between the images */
    box-sizing: border-box;
    border-bottom: solid 5px rgba(155, 155, 155, .5);
    background-image: linear-gradient(#eebb3d, #ffdd6c);
    border-color: black;
}

.cereal-img {
    width:35%;
    height: 75%;
    max-width: 250px;
    max-height: 250px;
}

.manufacturer-img {
    max-width: 250px;
    max-height: 250px;
}

.input-group {
    padding-top: 7px;
    width: 260px;
}

.profile-image {
    height: 48px;
    position: fixed;
    right:30px;
    top:1px;
    border: solid 2px rgba(155, 155, 155, .5);
}

.logo-img {
    top: 1px;
}

#id_message {
    height: 150px;
    margin-bottom: 5px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.quickbar {
    position: fixed;
    left: 5px;
    background-image: linear-gradient(#eebb3d, #ffdd6c);
    border-color: black;
    height: 330px;
    width: 140px;
}

input[type=radio] {
    width: 100%;
	display: block;
	line-height: 25px;
    right: 5px;
}

.price-box {
    margin-top: 5px;
}

.radio-label {
    display: block;
    bottom: 5px;
    vertical-align: middle;
    right: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h4 span {
    display: inline;
}

h4 span.major {
    font-size: 18px;
}

h4 span.minor {
    font-size: 12px;
}

.about_us-img {
    max-width: 500px;
    max-height: 500px;
}

.container {
    border-radius: 5px;
    background-color: #000000;
    background-color: #fff792;
    padding: 20px;
    padding-top: 50px;
}
.about_us-img {
    max-width: 500px;
    max-height: 500px;
}

.link-bar:hover {
    font-size: 18px;
    font-color:black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-right: 2px;
}

.container-fluid {
    background-color: #fff792;
}

.navbar-default {
    position: fixed;
    width: 100%;
}

.red {
    text-align: center;
}