{% extends 'base.html' %}
{% block content %}
    <h1>About us</h1>
    <h2>Our mission!</h2>
        <p>
            We are four brothers from another mother that wanted to create an exclusive cereal selling website where people can find, buy and
            get all their cereal needs from one place. our website is design to be easy to use and handy for anyone that hasn't got the time to
            go to the store to deal with those pesky cashiers or even worse other customers so now you don't have to! <br>
            just create an account on our website and buy your favorite cereal in your pyjamas! And it'll be on your doorstep in no time
            so you can enjoy it while watching your favorite show!
        </p>
        <p>
            <img src="https://i.ibb.co/bz5vygk/about-us-picture.png" alt="woman_power" class="about_us-img">
        </p>
        <p>
            if you have any questions about us or want to give us feedback do not hessitate to contact us through our Contact us page, we will answer as
            soon as possible!
        </p>
    <p>Copyright © 2021 Ship O'Cereal</p>
{% endblock %}