{% extends 'base.html' %}
{% block content %}
    <h1>About us</h1>
        <p>
            Hello we are Ship O'cereal and we are 4 brothers from another mother that want to sell cereal around the globe, this webiste
            was made with love sweat and tears and we hope it is usefull for all your cereal needs
        </p>
        <p>
            <img src="https://media.sciencephoto.com/m8/30/22/09/m8302209-800px-wm.jpg" alt="woman_power" class="about_us-img">
        <h3>Our mission!</h3>
        </p>
            We want to become a global monopoly over the digital selling cereal market and we our will and influence will not now
            no bounds, our cereal mission is not to be trifled with.
        <p>

        </p>
{% endblock %}