{% extends 'base.html' %}
{% block content %}
    <h1>About us</h1>
    <h2>Our mission!</h2>
        <p>
            Our mission is to fight world hunger, every box of cereal you buy we donate a box worth of cereal to the red kross, we care about the future
            of our children
        </p>
        <p>
            <img src="https://media.sciencephoto.com/m8/30/22/09/m8302209-800px-wm.jpg" alt="woman_power" class="about_us-img">
        </p>
        <p>
            look at this crying ugandan, don't you feel sad????
        </p>
{% endblock %}