{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Cereals collection</h1>
    <div class="well quickbar">
        <p>Filter</p>
        <a class="radio-label">
            <span id="vegan-button">Vegan</span>
        </a>
        <a class="radio-label">
            <span id="wheat-button">Wheat</span>
        </a>
        <a class="radio-label">
            <span id="oats-button">Oats</span>
        </a>
        <a class="radio-label">
            <span id="sugary-button">Sugary</span>
        </a>
    </div>
    <div class="cereals">
        {% for cereal in cereals %}
            {% include 'cereal/single_cereal.html' with  cereal=cereal %}
        {% endfor %}
        <p>Copyright © 2021 Ship O'Cereal</p>
    </div>
{% endblock %}