{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Cereals collection</h1>
    <div class="well quickbar">
        <p>Filter</p>
        <a class="radio-label">
            <span id="vegan-button">Vegan</span>
        </a>
        <a class="radio-label">
            <span id="wheat-button">Wheat</span>
        </a>
        <a class="radio-label">
            <span id="oats-button">Oats</span>
        </a>
        <a class="radio-label">
            <span id="sugary-button">Sugary</span>
        </a>
        <input type="search" class="form-control price-box" id="price-box" placeholder="Min price.." />
        <input type="search" class="form-control price-box" id="price-box-2" placeholder="Max price.." />
        <div class="input-group-btn">
            <button type="submit" id="price-btn" class="btn btn-default price-box">Search</button>
        </div>
    </div>
    <div class="cereals">
        {% for cereal in cereals %}
            {% include 'cereal/single_cereal.html' with  cereal=cereal %}
        {% endfor %}
        <p>Copyright © 2021 Ship O'Cereal</p>
    </div>
{% endblock %}