<div class="well cereal">
    <a href="/cereals/{{ cereal.id }}">
        <img class="cereal-img" src="{{ cereal.cerealimage_set.first.image }}"/>
        <h4>{{ cereal.name }}</h4>
        <p>{{ cereal.description }}</p>
    </a>
    <a href="/cereals/{{ cereal.id }}">
        <button type="submit" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0">More Information</button>
    </a>
    <a href="{% url 'add_to_cart' cereal.id %}">
    <button type="submit" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0">Buy ${{ cereal.price }}</button>
    </a>
    <p>Copyright © 2021 Ship O'Cereal</p>
</div>